   <div class="thanks">
    <div class="content">
        <div>
       <a href="/" class="Hopper_logo">
           <img src="/assets/images/thanks_logo.png">
       </a>
       <h3>Thanks for your interest!</h3>
       <p>We are currently servicing deliveries in &amp; around 3km of -<br/>
        Bandra E, Bandra W, Chembur, Cuffe Parade, Juhu,
        Lokhandwala, Mahalaxmi, Mulund, Powai, Vile Parle, Worli</p>
        <div class="Conditions">
            <h4>Terms &amp; Conditions</h4>
        <p>As per the Excise policy, Alcohol would be delivered only to those above Legal Drinking Age.<br/> You will
        need to provide a valid Age proof at the time of delivery.<br/>
        Delivery would be made within 12-48 hours on a best effort basis</p>
        </div>
        <div class="contact">
            <h5>To place your order*, contact -</h5>
            <div class="">
                <a href="tel:919004789880">Call</a>
                <a href="https://wa.me/919004789880">Whatsapp</a>
            </div>
        </div>
        <div class="terms">
             <p>*By clicking the above buttons, you agree to abide by the T&amp;C mentioned above</p>
             <h6>Retail Partner</h6>
             <a href="/">
               <img src="/assets/images/NBL.png">
           </a>
        </div>
    </div>
    </div>
   </div>
